[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
pytest = "*"
scipy = "*"

[packages]
flask-migrate = "*"
flask-graphql = "*"
graphene = "*"
requests = "*"
gunicorn = "*"
simplejson = "*"
pytz = "*"
pandas-datareader = "*"
psycopg2-binary = "*"
redis = "*"
rq = "*"
setproctitle = "*"

[requires]
python_version = "3.7"
